<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <meta charset="utf-8">
   <title>Overwatch Statistics</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
   <link rel="shortcut icon" type="image/png" href="/static/img/ow-favicon.ico"/>
 </head>
 <header>
    <div class="container">
      <strong><nav>
        <ul class="menu"> 
          <li><a href="{{ url_for('home') }}"><img src="static/img/overwatch-logo.png" alt="Overwatch Logo" height="25" width="25"></a></li>
          <li class="about"><a href="{{ url_for('about') }}">About</a></li>
          <li class="upload"><a href="{{ url_for('upload_file') }}">Upload</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
 <body>   
   
  
    <!-- <div class="container"> -->
    <!-- <video muted loop autoplay id="intro-clip">
        <source src="../static/video/ow_intro.mp4" type="video/mp4" style="width:100%">
    </video> -->

    <p class="title">Overwatch Statistics</p>
    <a href="{{ url_for('upload_file') }}" class="instruction">Get Started</a>
  <!-- </div>    -->

  </body>
</html>

 