<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Overwatch Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
        <link rel="shortcut icon" type="image/png" href="/static/img/ow-favicon.ico"/>
        </head>
        <header>
            <h1 class="title"></h1>
            <div class="container">
                <strong><nav>
                    <ul class="menu"> 
                        <li><a href="{{ url_for('home') }}"><img src="static/img/overwatch-logo.png" alt="Overwatch Logo" height="25" width="25"></a></li>
                        <li class="about"><a href="{{ url_for('about') }}">About</a></li>
                        <li class="upload"><a href="{{ url_for('upload_file') }}">Upload</a></li>
                    </ul>
                </nav></strong>
            </div>
    </header>
   <body>
    <p class="upload-instruction">Please upload a csv file in the following format</p>
    <img src="/static/img/example.png" alt="Example CSV" width="100%" height="50%">

    <div class="upload">
      <form action="/results" method = "POST" enctype = "multipart/form-data">
        <label for="file" class="form">Choose a file</label>
        <input type="file" name="file" id="file" onchange="this.form.submit()"/>
        <p></p> 
      </form>
    </div>

   </body>
</html>



   <!-- <input type="file" name="file" onchange="this.form.submit()" class="form"> -->
            